* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}
h1 {
  margin: 2em;
  text-align: center;
}

h3 {
  margin-bottom: 0.5em;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.option {
  display: flex;
  justify-content: space-between;
}
.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.product {
  justify-self: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

button {
  width: 100px;
  height: 50px;
}
