* {
  box-sizing: border-box;
  margin: 1em;
  padding: 0;
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
p {
  margin: 1em;
}
input select {
  width: 30%;
}
.add .delete .update .customer-info {
  width: 30%;
}

.form {
  display: flex;
  flex-direction: column;
}
