<html>
  <head>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css')}}">
  </head>

  <body>
    <h1 class='title'>4111 SHOP</h1>
    <div class='login'>
      <div class="cus-login">
        <h1 class="customer">Customer Login</h1>
        
        <div class="login-info">
          <form action="http://localhost:8111/" method="POST">
            EMAIL ADDRESS:
            <input type="text" class="email" name='email_cu' required> 
            PASSWORD:
            <input type="text" class="password" name='password_cu' required>
            <input class='login' type="submit" />
        </form>
        </div>
      </div>
      <div class="emp-login">
        <h1 class="employee">Employee Login</h1>
        <div class="login-info">
          <form action="http://localhost:8111/" method="POST">
            EMPLOYEE ID:
            <input type="text" class="email" name='email_em' required> 
            NAME:
            <input type="text" class="password" name='password_em' required>
            <input class='login' type="submit" />
        </form>
        </div>
      </div>
    </div>
    <script src='index.js'></script>
  </body>
</html>

