<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<body id='login_employee'>
    <div class="emp-login">
        <h1 class="employee">Employee Login</h1>
        <div class="login-info">
          <form action="/emp-login" method="POST">
            EMPLOYEE ID:
            <input type="text" class="emp_id" name='emp_id' required> 
            NAME:
            <input type="text" class="emp_name" name='emp_name' required>
            AGE:
            <input type="text" class="emp_age" name='emp_age' required>
            <input class='login' type="submit"/>
        </form>
        </div>
        {{error}}
      </div>
      {% block javascript %}
      <script src="{{ url_for('static',filename='index.js') }}"></script>
  {% endblock %}
</body>
</html>