<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<body id='signup_customer'>
    <div class="cus-signup">
        <h1 class="customer">Customer Signup</h1>
        <div class="signup-info">
          <form action="/signup_customer" method="POST">
            EMAIL ADDRESS:
            <input type="text" class="cus_email" name='cus_email' required> 
            NAME:
            <input type="text" class="cus_name" name='cus_name' required>
            PASSWORD:
            <input type="text" class="cus_pw" name='cus_pw' required>
            REPEAT PASSWORD:
            <input type="text" class="cus_pw2" name='cus_pw2' required>
            CLOTH SIZE:
            <input type="text" class="cus_size" name='cus_size' required>
            <input class='Signup' type="submit"/>
        </form>
        </div>
        <div class='option'>
          <a href='/'>Return to main page</a>
        </div>
        {{error}}
      </div>
      {% block javascript %}
      <script src="{{ url_for('static',filename='index.js') }}"></script>
  {% endblock %}
</body>
</html>